{% extends 'gamefolio_app/base.html' %}
{% load static %}

{% block title_block %}
    Logged Out
{% endblock %}

{% block body_block %}
<header class="bg-dark py-0"> 
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">Logout</h1>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="{% static "images/homepage.png" %}" style="width: 250px; height: 250px;" alt="homepage image" /></div>
        </div>
    </div>
</header>
</br>
<div class="row gx-5 d-flex justify-content-left">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <p>You have been successfully logged out.</p>
                <p><a href="{% url 'auth_login' %}">Login again</a></p>
                <p><a href="{% url 'gamefolio_app:index' %}">Return to Home</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}