{% extends 'gamefolio_app/base.html' %}

{% block title_block %}
    Password changed
{% endblock %}

{% block body_block %}
<header class="bg-dark py-0"> 
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">
                        Password Changed, {{ user }}.
                    </h1>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                <img class="header-image-fixed rounded-3 my-5" src="{{ MEDIA_URL }}{{ user.author.picture }}" alt="{{ selected_user.username }}'s profile image" />
            </div>
        </div>
    </div>
</header>
</br>

<div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center">
        <div class="col-lg-8 col-xl-7 col-xxl-6">
            <div class="my-5 text-center text-xl-start">
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a href="{% url 'gamefolio:index' %}" class="btn btn-outline-success">Return to Homepage</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}