{% extends 'gamefolio_app/base.html' %}
{% load tags %}

{% block title_block %}
    Profile
{% endblock %}

{% block body_block %}
<header class="bg-dark py-0"> 
    <div class="container px-5">
        {% if user == selected_user %}
        <form id = "edit-profile-form" method="post" action="." enctype="multipart/form-data" class = "d-none">
            {% csrf_token %}
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                    <div class="my-5 text-center text-xl-start">
                        <h1 class="display-5 fw-bolder text-white mb-2">

                                <div clas ="mb-4">{{ selected_user.username }}'s Profile</div>
                            
                                <input type="url" name="website" value = "{{user_profile.website}}" class="form-profile-control mt-4 lead fw-normal text-white-50" maxlength="200" id="id_website" placeholder = "Website">
                                
                                <label class="lead fw-bold text-white-50 py-0 my-0" for="bio">Bio</label>
                                <p class="lead fw-normal text-white-50 mb-2" style = "overflow-wrap: break-word">
                                    <textarea name="bio" cols="40" rows="5" class="form-profile-control lead fw-normal text-white-50" maxlength="250" required="" id="id_bio" style="height: 170px; resize:none">{{user_profile.bio}}</textarea>
                                </p>
                        </h1>
                        
                        <div class ="col-12 d-flex justify-content-start">
                            <div class="text-center gap-between-select-and-button">
                                <button type="submit" class="btn btn-outline-success">Update</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-xl-5 col-xxl-6 d-none d-xl-flex text-center justify-content-end">
                    <input type="file" name="picture" class="d-none" accept="image/*" id="id_picture" >
                    {% if user_profile.picture %}
                    <img id = "profile-image" class="shadow-sm rounded img-fluid user-profile-image my-5" src="{{ MEDIA_URL }}{{ user_profile.picture }}" alt="{{ selected_user.username }}'s profile image" />
                    {% else %}
                    <img id = "profile-image" class="shadow-sm rounded img-fluid user-profile-image my-5" src="{{ MEDIA_URL }}defaultprofile.png" alt="{{ selected_user.username }}'s profile image" />
                    {%endif%}
                </div>
            
            </div>
        </form>
        {% endif %}
        <div id = "non-edit-profile" class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">
                        {{ selected_user.username }}'s Profile
                        {% if user_profile.website %}
                        <p class="lead fw-normal text-white-50 mb-0"> - <a href="{{ user_profile.website }}" class="text-white">{{ user_profile.website }}</a></small>
                        {% endif %}
                        <div></div>
                        <label class="lead fw-bold text-white-50 py-0" for="bio">Bio</label>
                        <p class="lead fw-normal text-white-50 mb-4" style = "overflow-wrap: break-word" name="bio"> {{ user_profile.bio }}</a></small>
                    </h1>
                </div>
                
                {% if user == selected_user %}
                <div class ="col-12 d-flex justify-content-start">
                    <div class="text-center gap-between-select-and-button">
                        <button id = "edit-button" type="button" class="btn btn-outline-light">Edit</button>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-flex text-center justify-content-end">
                <img class="shadow-sm rounded img-fluid user-profile-image my-5" src="{{ MEDIA_URL }}{{ user_profile.picture }}" alt="{{ selected_user.username }}'s profile image" />
            </div>
        </div>
    </div>
</header>

<!-- Lists -->
<section class="py-5">
    <div class="container px-5 my-0">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                {% if selected_user == user %}
                    <h2 class="fw-bolder">Your Lists</h2>
                {% else %}
                    <h2 class="fw-bolder">{{ selected_user.username }}'s Lists</h2>
                {% endif %}
                </div>
            </div>
        </div>
        
        <br/>

        <div class="container">
            <div class="row gx-5">
                {% if user_lists %}
                    {% for list in user_lists %}
                        <div class="col-lg-4 col-md-6 mt-3 user-list">  
                            <div class="card h-100 shadow border-0">
                                <div class="card-body p-4 d-flex flex-column justify-content-center">
                                    {% render_list_images list %}
                                    <h5 class="card-title mb-3">
                                        <a class="game-review-link" href="{% url 'gamefolio_app:list' list.author.user.username list.slug %}">
                                            {{ list.title }}
                                        </a>
                                    </h5>
                                    <p class="card-text mb-auto">{{ list.description|truncatechars:75 }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <ul class="pagination justify-content-center pt-5">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" aria-label="Previous" id = "prev-list-button">
                                <span aria-hidden="true">&laquo; Prev</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" id = "current-list-page">1</a></li>
                            <li class="page-item">
                                <a class="page-link" aria-label="Next" id = "next-list-button">
                                <span aria-hidden="true">Next &raquo;</span>
                                </a>
                            </li>
                            </ul>
                      </nav>
                    </ul>
                {% else %}
                <div class = " text-center"><p>No lists available.</p></div>
                    {% if selected_user == user %}
                            <a class="btn btn-outline-success mt-3" href="{% url 'gamefolio_app:create_list' %}">Create Your Own List Here</a>
                    {% endif %}
                </div>
                {% endif %}
        </div>
    </div>
</section>

<!-- Reviews -->
<section class="py-5" id = "reviews">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                {% if selected_user == user %}
                    <h2 class="fw-bolder">Your Reviews</h2>
                {% else %}
                    <h2 class="fw-bolder">{{ selected_user.username }}'s Reviews</h2>
                {% endif %}
                </div>
            </div>
        </div>

        <br/>
        
        {% if user_reviews %}
        <div class="row gx-5 justify-content-start">
            <div class="col-lg-4 col-xl-4 text-end">
                <div class="btn-group" role="group" aria-label="Sort reviews">
                    <a href="?sort_reviews=recent#reviews" class="btn {% if sort_reviews_by == "recent" %} btn-success {% else %} btn-outline-success {%endif%}">Sort by Recent</a>
                    <a href="?sort_reviews=liked#reviews" class="btn {% if sort_reviews_by == "liked" %} btn-success {% else %} btn-outline-success {%endif%}">Sort by Likes</a>
                    <a href="?sort_reviews=rating#reviews" class="btn {% if sort_reviews_by == "rating" %} btn-success {% else %} btn-outline-success {%endif%}">Sort by Rating</a>
                </div>
            </div>
        </div>
        <br/>
        {% endif %}
        
        <div class="row gx-5">
            {% if user_reviews %}
                {% for review in user_reviews %}
                    {% render_review review %}
                {% endfor %}
            {% else %}
                <div class = " text-center"><p>No reviews available.</p></div>
            {% endif %}
        </div>
    </div>
    <!-- Pagination -->
    <form method="get" action="{% url 'gamefolio_app:profile' selected_user.username %}?sort_reviews_by={{ sort_reviews_by }}" id="pagination-form">
        <ul class="pagination justify-content-center">
            <input type="hidden" name="sort_reviews_by" value="{{ sort_reviews_by }}">
            {% if user_reviews %}  
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" aria-label="Previous" id = "prev-review-button">
                      <span aria-hidden="true">&laquo; Prev</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" id = "current-review-page">1</a></li>
                  <li class="page-item">
                    <a class="page-link" aria-label="Next" id = "next-review-button">
                      <span aria-hidden="true">Next &raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            {% endif %}
        </ul>
    </form>
        
</section>


{% endblock %}
