{% load static %}
{% load tags %}

<div class = "{% if paginate %}user-review{%endif%} col-md-12 col-lg-6 col-xl-4 my-3 py-3">
    <div class = "row d-flex align-items-end">
        {% if verbose %}
        <div class = "col-md-4">
            <a href="{% url 'gamefolio_app:game' review.game.id %}">
                <img class = "border border-2 border-light shadow-sm img-fluid rounded game-review-image" src={% get_image review.game "cover_big" %} alt="{{ review.game.title }} thumbnail"  />
            </a>
        </div>
        {% endif %}
        <div class = "col-8">
            <div class = "row-2 d-flex align-items-left mt-3">
                <div class = "col-2">
                    <a href = "{% url 'gamefolio_app:profile' review.author.user.username %}">
                        <img class="shadow-sm rounded-circle me-3 user-review-image" src="{% get_media_prefix %}{{ review.author.picture }}" alt="{{ review.author.user}} profile picture" />
                    </a>
                </div>
                    <div class="col px-2 d-flex align-items-end">
                        <a class = "user-review-link text-decoration-none link-dark " href = "{% url 'gamefolio_app:profile' review.author.user.username %}"><h6 class = "fw-semibold"><small>{{ review.author.user}}</small></h6></a>
                    </div>
                </div>
            <div class = "row-2 mt-2">    
                {% if verbose %}
                <h4 class="mb-1 fw-semibold text-truncate"><a class="game-review-link " href="{% url 'gamefolio_app:game' review.game.id %}">{{ review.game.title }}</a></h4>
                {% endif %}
                <div style = "color: #198754">{{review.get_rating_display}}</div>
            </div>
        </div>
    </div>
    <div class = "row mt-3">
        <div>{{review.content|truncatechars:100}}</div>
    </div>
    <div class="small row mt-4 align-items-end d-flex">
        <div class ="col-6 text-muted"> {{ review.datePosted|date:"j M Y" }}  </div>
        <div class ="like-count col-4 text-muted text-end"> {{ review.likes }} likes </div>
        {% if user.is_authenticated and user != review.author.user%}
        <button 
                data-reviewid="{{ review.pk }}"
                class="col-2 like-btn btn btn-outline-success btn-sm"
                type="button"
                style= "aspect: 1!important; width: 40px!important; min-wdith: 0px!important;">
            <span data-feather="thumbs-up"></span>
        </button>
        {% endif %}
    </div>
    <hr>
</div>